@page "/"
@namespace CacheTest.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />

<body>
    <script>
      window.setImage = async (imageElementId, imageStream) => {
        const arrayBuffer = await imageStream.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const image = document.getElementById(imageElementId);
        image.onload = () => {
          URL.revokeObjectURL(url);
        }
        image.src = url;
      }
    </script>
</body>